
@{
    ViewBag.Title = "PassViewBag";
}

<h2>PassViewBag</h2>

@*顯示特定ViewBag Data*@
<label>Name: @ViewBag.Name </label> <br />
<label>age: @ViewBag.age </label><br />
<label>TEL: @ViewBag.TEL </label><br />
<label>Address: @ViewBag.Address </label><br />
<label>XX: @ViewBag.XXXX </label><br />